{% extends '::base.html.twig' %}

{% block stylesheets %}
        
    {% block bootstrap_style %}
         {% stylesheets 
            '@MmiBootstrapBundle/Resources/public/css/bootstrap.min.css'
            '@MmiBootstrapBundle/Resources/public/css/bootstrap-theme.min.css'
         %}
         <link href="{{ asset_url }}" type="text/css" rel="stylesheet" media="screen" />
         {% endstylesheets %}
    {% endblock bootstrap_style %}

    {% block main_style %}{% endblock main_style %}

{% endblock %}

{% block javascripts %}

    {% block bootstrap_script %}
        {% javascripts 
            '@MmiBootstrapBundle/Resources/public/js/jquery-2.1.3.min.js'
            '@MmiBootstrapBundle/Resources/public/js/bootstrap.min.js'
        %}
        <script type="text/javascript" src="{{ asset_url }}"></script>
        {% endjavascripts %}
    {% endblock bootstrap_script %}

    {% block app_script %}{% endblock app_script %}

{% endblock  %}
        
        
{% block body %}
        
    {% block navbar %}{% endblock navbar %}

    {% block container %}
    <div class="{% block container_class %}container{% endblock container_class %}">
        {% block header %}{% endblock header %}
        {% block content_row %}
        <div class="row">
            {% block content %}
            <section class="col-sm-9">
                {% block content_content %}{% endblock content_content %}
            </section>
            <aside class="col-sm-3">
                {% block content_sidebar %}{% endblock content_sidebar %}
            </aside>
            {% endblock content %}
        </div>
        {% endblock content_row %}
        {% block footer %}{% endblock footer %}
    {% endblock container %}

{% endblock body %}